<div class="row justify-content-center">
  <div class="col-md-6">
    <h1>Şifre Sıfırlama</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">E-posta Adresi</label>
        <input type="email" id="email" formControlName="email" class="form-control" required>
        <div
          *ngIf="resetPasswordForm.get('email')?.invalid && (resetPasswordForm.get('email')?.touched || resetPasswordForm.get('email')?.dirty)"
          class="text-danger">
          Geçerli bir e-posta adresi girin.
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Yeni Şifre</label>
        <input type="password" id="password" formControlName="password" class="form-control" required>
        <div
          *ngIf="resetPasswordForm.get('password')?.invalid && (resetPasswordForm.get('password')?.touched || resetPasswordForm.get('password')?.dirty)"
          class="text-danger">
          Şifre en az 6 karakter olmalıdır.
        </div>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Şifreyi Onayla</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" required>
        <div
          *ngIf="resetPasswordForm.hasError('passwordMismatch') && (resetPasswordForm.get('confirmPassword')?.touched || resetPasswordForm.get('confirmPassword')?.dirty)">
          <small class="text-danger"> Şifreler eşleşmiyor.</small>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Şifreyi Sıfırla</button>
    </form>
  </div>
</div>