<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 class="mb-4">Kayıt Ol</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">Ad</label>
        <input autocomplete="firstName" formControlName="firstName" type="text" class="form-control" id="firstName"
          placeholder="Adınızı Girin" required />
        <div *ngIf="registerForm.get('firstName')?.invalid && (registerForm.get('firstName')?.touched)"
          class="text-danger">
          Ad alanı gereklidir.
        </div>
      </div>

      <div class="form-group my-2">
        <label for="lastName">Soyad</label>
        <input autocomplete="lastName" formControlName="lastName" type="text" class="form-control" id="lastName"
          placeholder="Soyadınızı Girin" required />
        <div *ngIf="registerForm.get('lastName')?.invalid && (registerForm.get('lastName')?.touched)"
          class="text-danger">
          Soyad alanı gereklidir.
        </div>
      </div>

      <div class="form-group">
        <label for="email">E-posta</label>
        <input autocomplete="email" formControlName="email" type="email" class="form-control" id="email"
          placeholder="E-posta Adresinizi Girin" required />
        <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched)" class="text-danger">
          Geçerli bir e-posta adresi girin.
        </div>
      </div>

      <div class="form-group my-2">
        <label for="password">Şifre</label>
        <input autocomplete="password" formControlName="password" type="password" class="form-control" id="password"
          placeholder="Şifrenizi Girin" autocomplete="new-password" required />
        <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched)"
          class="text-danger">
          Şifre alanı gereklidir.
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Şifreyi Onaylayın</label>
        <input autocomplete="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
          id="confirmPassword" placeholder="Şifrenizi Onaylayın" autocomplete="new-password" required />
        <div *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.touched)"
          class="text-danger">
          Şifre onay alanı gereklidir.
        </div>
        <div *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched">
          <small class="text-danger">Passwords do not match</small>
        </div>
      </div>

      <div class="form-group my-2">
        <label for="phone">Telefon Numarası</label>
        <input autocomplete="phone" mask="(000)-000-00-00" placeholder="(5XX)-XXX-XX-XX" formControlName="phone"
          type="tel" class="form-control" id="phone" required />
        <div *ngIf="registerForm.get('phone')?.invalid && (registerForm.get('phone')?.touched)" class="text-danger">
          Telefon numarası alanı gereklidir.
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Kayıt Ol</button>
    </form>
  </div>
</div>