<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 class="text-center mb-4">Şifremi Unuttum</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input autocomplete="email" formControlName="email" type="email" class="form-control" id="email"
          placeholder="Email girin" required />
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-3" [disabled]="forgotPasswordForm.invalid">
        Gönder
      </button>
    </form>
  </div>
</div>